@{
    ViewData["Title"] = "Modification des informations de l'utilisateur";
}

<h1>Modification des informations de l'utilisateur</h1>

<hr />
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="UserNameUpdate">Modification de l'identifiant</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="PasswordUpdate">Modification du mot de passe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="EmailUpdate">Modification de l'email</a>
        </li>
    </ul>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}